<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Item listing page</h1>
        <table style="width:100%">
          <tr>
            <th>Date Posted</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Seller</th>
          <tr>
            <td>{{item['Day posted']}}</a></td> 
            <td>{{item['name']}}</td>
            <td>{{item['description']}}</td>
            <td>{{item['price']}}</td>
            <td>{{item['seller']}}</td>
          </tr>
        </table> 
        <p>
        {% for image in images %}
            <img src="{{image}}" alt="Item image" width="300" height="400">
        {% endfor %}
        </p>
        <a href="/userhome">Back to Browse</a>
    </body>
</html>