<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>List an Item!</h1>
        <a href="/userhome">home</a>
        <form action = "http://127.0.0.1:5000/validatelisting" method = "POST">
            <label for="name">Item name</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="description">Description</label><br>
            <input type="text" id="description" name="description"><br>
            <label for="price">Price</label><br>
            <input type="number" id="price" name="price"><br>

            <p>Quality</p>
            <input type="radio" id="new" name="quality" value="new">
            <label for="new">Brand new</label><br>
            <input type="radio" id="lused" name="quality" value="lused">
            <label for="lused">Lightly used</label><br>
            <input type="radio" id="used" name="quality" value="used">
            <label for="used">Used</label><br>
            <input type="radio" id="hused" name="quality" value="hused">
            <label for="hused">Heavily used</label><br>
            <input type="radio" id="fix" name="quality" value="fix">
            <label for="fix">You'll need to make some repairs</label><br>

            <label for="picture">Picture</label><br>
            <input type="file" id="picture" name="picture" accept="image/png, image/jpeg"><br>
            <label for="sub">Submit:</label><br>
            <input type="submit" id="sub" name="sub"><br> 
    
        </form>
    </body>
</html>