<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>List an Item!</h1>
        <a href="/userhome">home</a>
        <form action = "http://127.0.0.1:5000/validatelisting" method = "POST" enctype='multipart/form-data'>
            <label for="name">Item name</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="description">Description</label><br>
            <input type="text" id="description" name="description"><br>
            <label for="price">Price</label><br>
            <input type="number" id="price" name="price"><br>

            <p>Quality</p>
            <label><input type="radio" required='true' id="quality" name="quality" value="new">Brand New</label><br>
            <label><input type="radio" id="quality" name="quality" value="lightly_used">Lightly Used</label><br>
            <label><input type="radio" id="quality" name="quality" value="used">Used</label><br>
            <label><input type="radio" id="quality" name="quality" value="heavily_used">Heavily used</label><br>
            <label><input type="radio" id="quality" name="quality" value="fix">ou'll need to repair it</label><br>

            <label for="picture">Picture</label><br>
            <input type="file" multiple = "true" id="pictures" name="pictures" accept="image/png, image/jpeg"><br>
            <label for="sub">Submit:</label><br>
            <input type="submit" id="sub" name="sub"><br> 
    
        </form>
    </body>
</html>