{% extends "base.html" %}
{% block body %}
<div class="mx-auto" style="width: 400px; align:center">
        <form action = "/validatesignup" method = "POST">
            <h1 class="h2 mt-5 mb-5 font-weight-bold text-center">Please Sign Up</h1>

            <label for="fname">First Name:</label><br>
            <input type="text" id="fname" name="fname" class="form-control" placeholder="Frank" required="true"  autofocus=""><br>

            <label for="lname">Last Name:</label><br>
            <input type="text" id="lname" name="lname" class="form-control" placeholder="Olin" required="true"><br>

            <label for="grad">Graduation Year</label><br>
            <input type="number" id="grad" name="grad" class="form-control" placeholder="2020" required="true"><br>

            <label for="school">School:</label><br>
            <select id="school" name="school" class="form-control">
                <option selected="selected" value="olin">Olin</option>
                <option value="babson">Babson</option>
                <option value="wellesley">Wellesley</option>
            </select><br/>

            <label for="email" style="align: left">School Email Address:</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="frank@olin.edu" required="true"><br>

            <label for="phone">Phone Number (optional):</label><br>
            <input type="text" id="phone" name="phone" class="form-control" placeholder="(555) 555-5555"><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Something secure" required="true"><br>

            <label for="confirmpass">Confirm Password:</label>
            <input type="password" id="confirmpass" name="confirmpass" class="form-control" placeholder="The same thing, again" required="true"><br>

            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" id="sub" name="sub">Sign Up</button><br>
            <p class="text-center"><a href="/login">Already have an account?</a></p>
            <p class="text-center"><a href="/">Back</a></p>
        </form>
</div>
{% endblock %}