{% extends "base.html" %}
{% block body %}
    <head>
    </head>
    <body>
        {% if name %}
        <h1>Hello {{name}}!</h1>
        {% else %}
        <h1>Hello, stranger!</h1>
        {% endif %}
        <a href="/logout">Sign out here</a>
        <a href="/list">List an item here</a>
        <table style="width:100%">
          <tr>
            <th>Date Posted</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Seller</th>
            <th>Save</th>
        {% for item in items %}
          <tr>
            <td><a href="/item/{{ item['id'] }}">{{item['post_date']}}</a></td>
            <td>{{item['name']}}</td>
            <td>{{item['description']}}</td>
            <td>{{item['price']}}</td>
            <td>{{item['seller']}}</td>
            <td>
            <form action='/userhome' method='POST'>
                {% if item['id'] in user_saved %}
                    <input type="hidden"  name="itemid" value="{{item['id']}}">
                    <input type="submit" value="Saved">
                {% else %}
                    <input type="hidden" name="itemid" value="{{item['id']}}">
                    <input type="submit" value='Save'>
                {% endif %}
            </form>
            </td>
          </tr>    
        {% endfor %}
        </table> 
        <a href="/logout">Sign out here</a>
        <a href="/edituser">Edit your profile here</a>
    </body>
{% endblock %}