{% extends "main.html" %}
{% block content %}
    <div class="container mt-5">
        {% if name %}
        <h1 class="h1">Hello {{name}}!</h1>
        {% else %}
        <h1 class="h1">Hello, stranger!</h1>
        {% endif %}
        <h5>Search and add items to your wishlist, or contact the seller directly by clicking their name below.</h5>
        <div class="mt-4 mb-4">
            <form class="">
                <input class="form-control" type="text" id="search" placeholder="Search for an item..." aria-label="Search">
            </form>
        </div>
        <table class="table table-hover table-responsive-md table-striped" style="width:100%">
            <thead class="thead-gray">
                <tr>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Date Posted</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Seller</th>
                    <th class="text-center">Save</th>
                <tr>
            </thead>
            <tbody>
            {% for item in items %}
              <tr>
                <td class="align-middle"><a href="/item/{{ item['id'] }}">{{item['name'][0]|upper}}{{item['name'][1:]}}</a></td>
                <td class="align-middle">{{item['category']}}</td>
                <td class="align-middle">{{item['post_date'].strftime('%m-%d-%y')}}</td>
                <td class="align-middle">{{item['description'][0]|upper}}{{item['description'][1:]}}</td>
                <td class="align-middle">${{item['price']}}</td>
                <td class="align-middle"><a href="mailto:{{item['seller']}}?subject=[Frank%27s%20List]%20Buyer%20for%20{{item['name'][0]|upper}}{{item['name'][1:]}}&body=Hi%20there%2C%20I%27m%20interested%20in%20purchasing%20the%20following%20item%20you%20listed%3A%0D%0A%0D%0A{{item['name'][0]|upper}}{{item['name'][1:]}}%0D%0A%0D%0APlease%20respond%20to%20me%20at%20your%20earliest%20convenience%2C%20and%20thanks%21%0D%0A%0D%0A%0D%0AThis%20message%20was%20sent%20via%20the%20Frank%27s%20List%20webapp%2C%20a%20place%20for%20BOW%20students%20buy%20and%20sell%20items.">{{item['seller']}}</a></td>
                <td class="text-center">
                    <form action='/userhome' method='POST'>
                        {% if user_saved and item['id'] in user_saved %}
                            <input type="hidden"  name="itemid" value="{{item['id']}}">
                            <button class="btn btn-link btn-sm rounded-pill"  type="submit" value='Saved'>&#x2705;</button>
                        {% else %}
                            <input type="hidden" name="itemid" value="{{item['id']}}">
                            <button class="btn btn-link btn-md"  type="submit" value='Save'>&#10084;</button>
                        {% endif %}
                    </form>
                </td>
              </tr>    
            {% endfor %}
            </tbody>
        </table> 
    </div>
{% endblock %}