<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Please sign in</h1>
        <form action = "http://127.0.0.1:5000/validatelogin" method = "POST">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="age">Password:</label><br>
            <input type="text" id="password" name="password"><br>
            <label for="sub">Submit</label><br>
            <input type="submit" id="sub" name="sub"><br> 
    
        </form>
    </body>
</html>